h2, p  { margin-bottom: 0.5rem; }
h1     { font: 700 2rem/1.2  "Roboto";  color: rgb(37, 28, 28); }
h2     { font: 400 1.5rem/1.2 "Roboto"; color: rgb(128, 120, 120); }
time   { font: 400 1.3rem/1.2 "Roboto"; color: hsla(250, 100%, 67%); }
h3     { font: 700 1.0rem/1.2 "Roboto"; color: hsla(250, 100%, 67%); }
p      { font: 400 1.0rem/1.5 "Roboto"; color: hsla(000, 0%, 33%); }
ol     { font: 400 1.0rem/1.5 "Roboto"; color: hsla(000, 0%, 33%); }
ul     { font: 400 1.0rem/1.5 "Roboto"; color: hsla(000, 0%, 33%); }
h1, h2  { margin-bottom: 0.5rem; }
figcaption, h2  { margin-bottom: 0.5rem; }
.olh  { font: 400 1.1rem/1.5 "Roboto"; color: hsla(000, 0%, 33%); }
sub { font: 200 0.8rem/0.5 "Roboto"; color: hsla(000, 0%, 33%); }
sup { font: 200 0.8rem/0.8 "Roboto"; color: hsla(000, 0%, 33%); }



figcaption  { font: 400 1.0rem/1.5 "Roboto"; color: hsla(000, 0%, 70%); }
figcaption {
    display: flex;
    justify-content: center;
}

a {box-shadow: inset 0 -0.25em hsla(55, 100%, 75%);}
#ah {box-shadow: inset 0 0 rgb(87, 46, 46);}
@media (max-width: 8.5in) { :root {font-size: 18px;} }
@media (max-width: 5.0in) { :root {font-size: 16px;} }

#or {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

#li-4 {
margin-top: -2rem;
}

.paints {
    text-align: center;
    
}

#sub-heading{
    text-align: center;
}

