:root {font: 20px/1.2 "Roboto", sans-serif;}

body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}
figcaption {margin-top: 0.5rem;}
figure * {display: block;}
ol {margin-top: -1.555rem;margin-bottom: -1.55rem;}
#ul-1 {
    margin-top: -2rem;
}

#ul-2 {
    margin-top: -2rem;
}